@{
    ViewData["Title"] = "მთავარი გვერდი";
    bool isTeacher = ViewBag.IsTeacher ?? false;
}
<div class="text-center">
    <h2 class="mb-4">გამარჯობა, <span class="text-success">@User.Identity.Name</span>!</h2>
    <div class="d-grid gap-3 col-lg-4 col-md-6 mx-auto">
        @if (isTeacher)
        {
            <a asp-controller="Home" asp-action="Upload" class="btn btn-brand btn-lg">ატვირთე კითხვები</a>
        }
        else
        {
            <a asp-controller="Test" asp-action="Start" class="btn btn-brand btn-lg">დაიწყე ტესტი</a>
        }
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-outline-secondary w-100">გამოსვლა</button>
        </form>
    </div>
</div>
