@{
    ViewData["Title"] = "სტუდენტთა გვერდი";
}
<div class="text-center mt-5">
    <h1 class="text-success">მოსწავლის პანელი</h1>
    <p class="mb-4">აირჩიე რისი გაკეთება გსურთ:</p>

    <a asp-controller="Test" asp-action="Index" class="btn btn-primary m-2">დაიწყე ტესტი</a>
    <a asp-controller="Results" asp-action="MyResults" class="btn btn-success m-2">ჩემი შედეგები</a>

    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-outline-secondary m-2">გამოსვლა</button>
    </form>
</div>
