@{
    ViewData["Title"] = "მასწავლებელთა გვერდი";
}
<div class="text-center mt-5">
    <h1 class="text-success">მასწავლებლის პანელი</h1>
    <p class="mb-4">აირჩიე რისი გაკეთება გსურთ:</p>
    <a asp-action="Upload" class="btn btn-success m-2">ატვირთე Excel</a>
    <a asp-action="Guide" class="btn btn-info m-2">გზამკვლევი</a>
    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-outline-secondary m-2">გამოსვლა</button>
    </form>
</div>
